# IDE based files #
.buildpath
.idea
.project
.settings

# OS based files #
.DS_Store

# Local config files #
/phpunit.xml
/.php_cs.cache
/.phpunit.result.cache

# Composer Files #
vendor/*
composer.lock
composer.phar
